#homeSlider
.swiper-pagination{
position: absolute;
bottom: -3px !important;
z-index: 9999;
margin-top: 30px !important;
}
#homeSlider
.swiper-pagination{
position: absolute;
bottom: -3px !important;
z-index: 9999;
margin-top: 30px !important;
}
