.desktop .css-13b4iz3-MuiButtonBase-root-MuiButton-root:hover {
    background-color: #FF00AE;
}

.desktop .css-bbqm0d-MuiButtonBase-root-MuiButton-root:hover {
    background-color: #FF00AE;
}

.desktop .css-1qduyf8-MuiButtonBase-root-MuiButton-root:hover {
    background-color: #FF00AE;
}

.desktop .css-6pvgg8-MuiButtonBase-root-MuiButton-root:hover {
    background-color: #FF00AE;
}

.desktop .css-92btvf-MuiButtonBase-root-MuiButton-root:hover {
    background-color: #FF00AE;
}

.sidedrawer .css-1160xiw-MuiPaper-root-MuiDrawer-paper {
    height: 20%;
    top: 25%;
}

#category-btn {
    background-color: #FF00AE;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    border-radius: 50px;
}

.categoryhead ul li {
    list-style: none;
}

.categoryhead {
    padding-bottom: 25px;
}

@media only screen and (max-width: 767px) {
    .categorycolumns {
        grid-template-columns: repeat(1, 1fr);
    }

    .suggestions-container {
        position: absolute;
        z-index: 1;
        right: 0;
        left: 0;
        color: black;
        top: calc(100% + 0px);
    }

    .suggestions-container ul {
        list-style: none;
        padding: 0;
        margin: 0;
        background-color: white;
        font-size: 16px;
        width: 100%;
        border: 1px solid #000000;
        min-height: 210px;
        padding: 1px 80px 10px 10px;

    }

    #menu {
        display: none;
        position: absolute;
        top: calc(100% + 0px);
        z-index: 9999;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
        color: black;
        width: 100%;
        max-height: 600px;
        overflow-y: scroll;
        text-align: left;
        padding: 10px 0px 22px 22px;
    }

    #menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #FF00AE;
    }

    #menu ul li {
        width: 100%;
        padding: 0;
        margin: 0;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        margin-top: 10px;
        color: #000000;

    }

    .dropdown-content {
        display: none;
        background: white;
        position: absolute;
        left: 50%;
        z-index: 1;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        text-align: left;

    }

}

@media only screen and (min-width: 768px) {
    .dropdown-content {
        display: none;
        background: white;
        position: absolute;
        left: 85%;
        z-index: 1;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        text-align: left;

    }

    .categorycolumns {
        column-count: 3;
        column-gap: 30px;
        column-rule: 1px solid #ccc;
    }

    .categoryhead {
        break-inside: avoid-column;
    }

    .parentCategory {
        font-weight: bold;
        margin-bottom: 10px;
    }

    .suggestions-container {
        position: absolute;
        z-index: 1;
        right: 0;
        left: 0;
        color: black;
        top: calc(100% - 15px);
    }

    .suggestions-container ul {
        border: 1px solid #000000;
        background-color: white;
        border-radius: 20px;
        list-style: none;
        font-size: 16px;
        width: 235px;
        min-height: 210px;
        padding: 5px 0px 27px 0px;
    }

    #menu {
        display: none;
        position: absolute;
        top: calc(100% + 0px);
        z-index: 9999;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
        color: black;
        width: fit-content;
        height: fit-content;
        border-top: 1px solid #C4C1C1;
        text-align: left;
        padding: 22px 22px 22px 22px;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;

    }

    #menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #FF00AE;
    }

    #menu ul li {
        width: 100%;
        padding: 0;
        margin: 0;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        margin-top: 10px;
        color: #000000;
    }
}



.suggestions-container ul li {
    margin-top: 10px;
    height: 25px;
}

.suggestions-container ul li a {
    color: black;
    padding-left: 10px;
    padding-top: 5px;
    height: 35px;
    display: block;
}

.suggestions-container ul li a:hover {
    background-color: #f2f0f0;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

.loginLinks ul li a {
    display: flex;
    color: black;
}

* {
    box-sizing: border-box;
}

.dropbtn {
    border: none;
    font-size: 22px;
    color: #2370f4;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: white;
}

.dropdown-content a {
    display: block;
    color: #FF00AE;
    text-decoration: none;
    font-weight: 600;
    font-size: 22px;
    padding: 8px;
    background: #f1f0f0;
}

.dropdown-content div {
    display: block;
    color: #FF00AE;
    font-weight: 600;
    text-decoration: none;
    font-size: 22px;
    padding: 8px;
}

.dropdown-content a:hover {
    background: #ddd;
    width: 100%;
}

.dropdown-content div:hover {
    background: #ddd;
    width: 100%;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.sidedrawer .css-1160xiw-MuiPaper-root-MuiDrawer-paper {
    height: 20%;
    top: 25%;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 47%;
    margin-left: auto;
}